@page "/users/{UserId:int}"
@using Website.Client.Pages.Home.UserPage.Components

@if (User != null)
{
    <div class="row mt-5">
        <div class="col-md-3">
            <UserCard User="User">
                <div class="card-body" style="margin-top: -20px;">
                    <div class="fs-5 fw-bold">
                        @User.Name
                    </div>
                    <div class="dropdown-divider" />
                    <div>
                        <div class="input-group input-group-sm">
                            <a href="@User.SteamProfileUrl" target="_blank" class="btn btn-secondary">
                                <i class="fab fa-steam-square"></i>
                            </a>
                            <input class="form-control border-custom text-center" onclick="this.select()" value="@User.SteamId" readonly />
                        </div>

                    </div>
                    <div class="dropdown-divider" />
                    <div class="fw-bold">Badges</div>
                    <div>
                        @if (User.Role == RoleConstants.SellerRoleId)
                        {
                            <span class="badge bg-primary">Seller</span>
                        }
                        else if (User.Role == RoleConstants.AdminRoleId)
                        {
                            <span class="badge bg-primary">Admin</span>
                        }
                    </div>
                    <div class="dropdown-divider" />
                    <div class="d-grid gap-2">
                        <a class="btn btn-sm btn-primary" href="/messages/create/@User.Id">
                            <i class="far fa-comments"></i> Send Message
                        </a>
                        @if (UserService.UserId == UserId)
                        {
                            <a class="btn btn-sm btn-success" href="/settings">
                                <i class="bi bi-pencil-square"></i> Update Profile
                            </a>
                        }
                    </div>
                </div>
            </UserCard>
        </div>
        <div class="col-md-9">

        </div>
    </div>

}

