@page "/settings"

<Title Value="Settings - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Settings" />
<Meta property="og:type" content="website" />
<Meta property="og:url" content="plugins.restoremonarchy.com" />
<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />
<Meta name="theme-color" content="#FFCC00" />

@if (User != null)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Settings</li>
        </ol>
    </nav>

    <div class="bg-light p-3 rounded-3">
        <EditForm Model="User" OnValidSubmit="SubmitAsync">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <InputText class="form-control" @bind-Value="User.Name" />
                <div class="form-text">Your name max 25 characters</div>
            </div>

            <AuthorizeView Roles="@RoleConstants.AdminAndSeller" Context="auth">
                <Authorized>
                    <div class="mb-3">
                        <label class="form-label">PayPal Email</label>
                        <InputText class="form-control" @bind-Value="User.PayPalEmail" />
                        <div class="form-text">Your PayPal email address you want to receive payments</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">PayPal Currency</label>
                        <InputText class="form-control" @bind-Value="User.PayPalCurrency" required />
                        <div class="form-text">Three characters currency identifier</div>
                    </div>
                </Authorized>
            </AuthorizeView>

            <div class="mb-3">
                <label class="form-label">Discord Webhook URL</label>
                <InputText class="form-control" @bind-Value="User.DiscordWebhookUrl" />
                <div class="form-text">This is used to send you message and purchase notifications to Discord</div>
            </div>

            <ValidationSummary />
            <DataAnnotationsValidator />

            @if (isLoading)
            {
                <LoadingButton />
            }
            else
            {
                <button type="submit" class="btn btn-primary">Update</button>
            }
        </EditForm>
    </div>
}