<style rel="stylesheet">
    .card-bg-top {
        width: 100%;
        height: 80px;
        object-fit: cover;
    }

    .avatar-border {
        border: 2px solid @User.BackgroundColor;
    }

    .bg-user {
        background-color: @User.BackgroundColor;
    }
</style>

<div class="card">
    <div class="card-bg-top bg-user" />
    <div class="text-center" style="margin-top: -60px;">
        @if (User.AvatarImageId.HasValue)
        {
            <img class="rounded-circle avatar-border shadow-lg" src="api/images/@User.AvatarImageId" style="height: 80px; width: 80px; " />
        }
        else
        {
            <img class="rounded-circle avatar-border shadow-lg" src="/img/profiles/default_avatar.png" style="height: 80px; width: 80px;" />
        }
    </div>
    @ChildContent
</div>


@code {
    [Parameter]
    public MUser User { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
