.new-message-highlighter-arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    border: 0;
    border-top: 0.625rem solid transparent;
    border-bottom: 0.625rem solid transparent;
    border-left: 0.75rem solid #dc3545;
}

.new-message-highlighter-NEW {
    width: 3rem;
    height: 1.25rem;
    transform: translate(-50%, -50%);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition: transform 0.25s;
}

@media (max-width: 991px) {
    .new-message-highlighter-NEW {
        transform: translate(0, -50%);
        transition: transform 0.25s;
    }
}