@page "/"
@using Website.Client.Shared.Components.Products

<Title Value="Home - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Home" />


<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />


<div class="text-center mb-3">
    <img src="/img/header.png" style="max-height: 250px;" />
    <div style="margin-top: -30px;">
        <h4 class="fw-bold unturned-font">Unturned Store</h4>
        <h6 class="text-muted">Marketplace of products for Unturned</h6>
        <div class="fs-5">
            <a class="text-decoration-none" href="/products">
                <i class="fas fa-store"></i> List of Products
            </a>
        </div>
    </div>
    
</div>

@if (Statistics != null)
{
    <div class="mb-3 row">
        <div class="col-md-4 mb-2">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">@Statistics.ProductsCount</h5>
                    <p class="card-text text-muted">Products</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">@Statistics.UsersCount</h5>
                    <p class="card-text text-muted">Users</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h5 class="card-title">@Statistics.SalesCount</h5>
                    <p class="card-text text-muted">Sales</p>
                </div>
            </div>
        </div>
    </div>
    
} else
{
    <Progressbar />
}


