<div class="position-absolute form-control w-auto text-danger border-danger" style="right: 0; top: calc(50% + 3px); transform:translate(0, -50%);">
    You can't change this value while a sale is active.
</div>
