<div class="alert alert-info">
    <strong>This site is not affiliated with Smartly Dressed Games or Unturned</strong><br />
    Unturned® is a registered trademark or trademark of Smartly Dressed Games Ltd. in the United States, Canada, and other countries.
</div>