@page "/loader"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Loader</li>
    </ol>
</nav>

<h4>
    UnturnedStore Loader
</h4>

<div>
    <p>
        The UnturnedStore Loader is a plugin that allows you to easily install and update plugins from the UnturnedStore.
    </p>
    <p>
        The plugin is available for both RocketMod and OpenMod.
    </p>
</div>

<div class="">
    <a class="btn btn-primary " href="/assets/loader/UntStore_RocketMod_Loader_1.1.0.zip" target="_blank">
        <div class="d-flex align-items-center">
            <div>
                <i class="fas fa-rocket"></i>
            </div>
            <div class="ms-2">
                Download for RocketMod
            </div>
        </div>        
    </a>
    <a class="btn btn-primary" href="/assets/loader/UntStore_OpenMod_Loader_1.1.0.zip" target="_blank">
        <div class="d-flex align-items-center">
            <div>
                <i class="fas fa-plug" style="transform: rotate(45deg);"></i>
            </div>
            <div class="ms-2">
                Download for OpenMod
            </div>
        </div>
    </a>
</div>