@page "/loader"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Loader</li>
    </ol>
</nav>

<div class="d-flex align-items-center p-3 bg-light rounded-top border">
    <div class="text-black-50 h-4">
        <i class="fas fa-cloud-download-alt"></i>
    </div>
    <div class="ms-2 h5">
        UnturnedStore Loader
    </div>
</div>

<div class="bg-light border-top-0 border-bottom-0 border p-3">
    <div>
        The UnturnedStore Loader is a plugin that allows you to easily install and update plugins from the UnturnedStore.
    </div>
    <div>
        The plugin is available for both RocketMod and OpenMod.
    </div>
</div>

<div class="bg-light border rounded-bottom p-3">
    <a class="btn btn-primary " href="/assets/loader/RocketMod_UnturnedStore_Loader.zip" target="_blank">
        <div class="d-flex align-items-center">
            <div>
                <i class="fas fa-rocket"></i>
            </div>
            <div class="ms-2">
                Download for RocketMod
            </div>
        </div>        
    </a>
    <a class="btn btn-primary" href="/assets/loader/OpenMod_UnturnedStore_Loader.zip" target="_blank">
        <div class="d-flex align-items-center">
            <div>
                <i class="fas fa-plug" style="transform: rotate(45deg);"></i>
            </div>
            <div class="ms-2">
                Download for OpenMod
            </div>
        </div>
    </a>
</div>

<div class="alert alert-info d-flex align-items-center mt-3">
    <div>
        <i class="fas fa-info"></i>
    </div>
    <div class="ms-2">
        Experience any issues? Contact us through <a href="/discord" target="_blank" >Discord</a>.
    </div>
    
</div>