@page "/loader"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Loader</li>
    </ol>
</nav>

<h4>
    UnturnedStore Loader
    <i class="fas fa-cloud-download-alt fs-5 d-inline-block d-sm-none" style="vertical-align: initial; background: -webkit-linear-gradient(45deg, #0d6efd, #0dcaf0 80%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
</h4>

<div class="d-flex align-items-center flex-column flex-sm-row mt-md-4 mb-md-4" style="column-gap: 2.5rem;">
    <i class="fas fa-cloud-download-alt d-none d-sm-block" style="font-size: 12rem; background: -webkit-linear-gradient(45deg, #0d6efd, #0dcaf0 80%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
    <div>
        <div>
            <p class="m-md-0">
                The UnturnedStore Loader is a plugin that allows you to easily install and update plugins from the UnturnedStore.
            </p>
            <p>
                The plugin is available for both RocketMod and OpenMod.
            </p>
        </div>
    
        <div class="d-flex flex-wrap gap-1" style="">
            <a class="btn btn-primary" href="/assets/loader/UntStore_RocketMod_Loader_1.1.0.zip" target="_blank">
                <div class="d-flex align-items-center">
                    <div>
                        <i class="fas fa-rocket" style="vertical-align: initial;"></i>
                    </div>
                    <div class="ms-2">
                        Download for RocketMod
                    </div>
                </div>
            </a>
            <a class="btn btn-primary" href="/assets/loader/UntStore_OpenMod_Loader_1.1.0.zip" target="_blank">
                <div class="d-flex align-items-center">
                    <div>
                        <i class="fas fa-plug" style="vertical-align: initial; transform: rotate(45deg);"></i>
                    </div>
                    <div class="ms-2">
                        Download for OpenMod
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>