@page "/loader"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Loader</li>
    </ol>
</nav>


<h4>Coming soon..</h4>