@page "/about"
@using Website.Client.Shared.Components.Alerts

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>

<div class="mb-2">
    <img src="/img/logo.png" width="150" height="150" />
</div>
<div class="mb-3">
    <h5>About</h5>
    <p>
        UnturnedStore.com is a non-profit service that allows direct transactions between sellers (plugin developers) & customers. <br />
        UnturnedStore.com is not a party in these mutual transactions and does not take any responsibility of quality and accuracy of the purchased products.
    </p>
    <UnturnedTrademarkAlert />
</div>
<div class="mb-3">
    <h5>FAQ</h5>
    <div class="accordion accordion-flush" id="faqAccordion">
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0">
                    Am I allowed to redistribute plugins I purchased?
                </button>
            </h2>
            <div id="collapse0" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
                <div class="accordion-body">No, purchased plugins can only be used by the individual who purchased them. Redistribution is against copyright laws and may result in severe consequences.</div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                    How refunds are processed?
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading0" data-bs-parent="#faqAccordion">
                <div class="accordion-body">Refund policy depends on each seller. You should contact the seller of the plugin if you want to issue a refund.</div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2">
                    How are payments processed?
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
                <div class="accordion-body">The seller of each product processes payments through PayPal. Some issues regarding payments can occur if the seller has invalid payment information.</div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3">
                    How to become a seller?
                </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
                <div class="accordion-body">To become a seller, you'll need to fill out <a href="https://forms.gle/mQhYEcgHgMbvFQq68" target="_blank">our form</a>.</div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4">
                    What terms do sellers have to follow?
                </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
                <div class="accordion-body">To become a seller, you'll need to follow <a href="https://docs.google.com/document/d/1km7FWbxY1aLUkkcb4IfrL8_zoovUM6nRR8DDuw832z8/edit?usp=sharing" target="_blank">our seller guidelines</a>.</div>
            </div>
        </div>
    </div>
</div>

