@page "/about"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>

<div class="mb-2">
    <img src="/img/logo.png" width="150" height="150" />
</div>
<div class="mb-3">
    <h5>About</h5>
    <p>
        UnturnedStore.com is a non-profit service that allows direct transactions between sellers (plugin developers) & customers. <br />
        UnturnedStore.com is not a party in these mutual transactions and does not take any responsibility of quality and accuracy of the purchased products.
    </p>
</div>
<div class="mb-3">
    <h5>FAQ</h5>
    <div class="accordion accordion-flush" id="faqAccordion">
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0">
                    How refunds are processed?
                </button>
            </h2>
            <div id="collapse0" class="accordion-collapse collapse" aria-labelledby="heading0" data-bs-parent="#faqAccordion">
                <div class="accordion-body">Refund policy depends on each seller. You should contact the seller of the plugin if you want to issue a refund.</div>
            </div>
        </div>
        <div class="accordion-item shadow">
            <h2 class="accordion-header bg-light" id="heading1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1">
                    How to become a seller?
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
                <div class="accordion-body">To become seller you should contact Brad#1000 or MrSpaml#7405 on our <a href="/discord">Discord server</a></div>
            </div>
        </div>
    </div>
</div>

