<h4>Notifications Settings</h4>
<EditForm Model="User" OnValidSubmit="SubmitAsync">
    <div class="mb-3">
        <label class="form-label">Discord Webhook URL</label>
        <InputText class="form-control" @bind-Value="User.DiscordWebhookUrl" />
        <div class="form-text">This is used to send you message notifications to Discord</div>
    </div>

    <ValidationSummary />
    <DataAnnotationsValidator />

    @if (IsLoading)
    {
        <LoadingButton />
    }
    else
    {
        <button type="submit" class="btn btn-primary">Update</button>
    }
</EditForm>
