
<h4>Seller Settings</h4>
<EditForm OnValidSubmit="SubmitAsync" Model="User">

    <div class="mb-3">
        <label class="form-label">PayPal Email</label>
        <InputText class="form-control" @bind-Value="User.PayPalEmail" />
        <div class="form-text">Your PayPal email address you want to receive payments</div>
    </div>
    <div class="mb-3">
        <label class="form-label">PayPal Currency</label>
        <InputText class="form-control" @bind-Value="User.PayPalCurrency" readonly />
        <div class="form-text">Three characters currency identifier</div>
    </div>

    <div class="mb-3">
        <label class="form-label">Terms & Conditions</label>
        <BlazoredTextEditor @ref="editor" DebugLevel="error">
            <ToolbarContent>
                <select class="ql-header">
                    <option selected=""></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </select>
                <span class="ql-formats">
                    <button class="ql-bold"></button>
                    <button class="ql-italic"></button>
                    <button class="ql-underline"></button>
                    <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                    <select class="ql-color"></select>
                    <select class="ql-background"></select>
                </span>
                <span class="ql-formats">
                    <button class="ql-list" value="ordered"></button>
                    <button class="ql-list" value="bullet"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-code-block"></button>
                </span>
            </ToolbarContent>
            <EditorContent>
                @(new MarkupString(User.TermsAndConditions))
            </EditorContent>
        </BlazoredTextEditor>
        <div class="form-text">Terms & Conditions of purchasing your products</div>
    </div>

    <ValidationSummary />
    <DataAnnotationsValidator />

    @if (IsLoading)
    {
        <LoadingButton />
    }
    else
    {
        <button type="submit" class="btn btn-primary">Update</button>
    }
</EditForm>