.editor-link {
    border-radius: 0 !important;
    color: black;
    font-weight: 600;
}


.editor-link-preview.active {
    background-color: #f8f8f8 !important;
}



.editor-textarea {
    border-color: #dee2e6 !important;
    border-radius: 0 !important;
}

.editor-textarea:focus {
    border-color: #dee2e6 !important;
    box-shadow: none !important;
    outline: 0 none !important;    
}

.editor-preview {
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    overflow-y: auto;
    background-color: #f8f8f8 !important;
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-label {
    cursor: pointer;
}

@font-face {
    font-family: 'ApexMk3';
    src: URL('../fonts/ApexMk3.ttf') format('truetype');
}

.unturned-font {
    font-family: ApexMk3
}

i {
    vertical-align: 0.125em;
}

@media (max-width: 980px) {
    .table-hide {
        display: none !important;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.carousel-control-next, .carousel-control-prev{
    top: calc(50% - 1rem)!important;
    bottom: unset!important;
}
