<div class="mb-3">
    <label class="form-label">ZIP Archive file</label>
    <InputFile class="form-control" OnChange="OnZIPFileChange" type="file" accept=".zip" />

    <div class="mt-2">
        <ul class="list-group">
            @if (Model.Content != null)
            {
                <li class="list-group-item bg-secondary text-white">
                    @Model.FileName
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public MVersion Model { get; set; }

    private async Task OnZIPFileChange(InputFileChangeEventArgs e)
    {
        Model.Content = new byte[e.File.Size];
        Model.ContentType = e.File.ContentType;
        Model.FileName = e.File.Name;
        await e.File.OpenReadStream(30 * 1024 * 1024).ReadAsync(Model.Content);
    }
}