<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            © Unturned Store @DateTime.Now.Year - <a href="/about" class="text-decoration-none">About</a> - Open source on <a href="https://github.com/UnturnedStore/UnturnedStore" target="_blank" class="text-decoration-none"><i class="bi bi-github"></i> GitHub</a>
        </span>
    </div>
</footer>