<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">
            © RestoreMonarchy @DateTime.Now.Year - Website by <a href="https://github.com/RestoreMonarchy" target="_blank">MCrow</a>
        </span>
    </div>
</footer>