@page "/cart"
@using Website.Client.Pages.Home.CartPage.Components

<Title Value="Cart - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Cart" />
<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
</nav>

<div>
    <div class="mb-3 text-end">
        <a href="/">Continue Shopping</a>
    </div>

    @if (Carts != null)
    {
        if (Carts.Count == 0)
        {
            <div class="text-center">
                <h5>You don't have anything in your cart</h5>
                <a class="btn btn-primary" href="/">Continue Shopping</a>
            </div>
        }

        foreach (OrderParams cart in Carts)
        {
            <SellerCart Cart="cart" OnRemoveFromCart="(item) => RemoveFromCartAsync(cart, item)" />
        }
    }
</div>

<TermsModal @ref="TermsModal" />