@page "/cart"
@using Website.Client.Pages.Home.CartPage.Components

<Title Value="Cart - Unturned Store"></Title>

<Meta name="description" content="Marketplace of products for Unturned" />
<Meta property="og:title" content="Cart" />
<Meta property="og:image" content="/img/logo.png" />
<Meta property="og:image:width" content="128" />
<Meta property="og:image:height" content="128" />
<Meta property="og:description" content="Marketplace of products for Unturned" />


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
</nav>



<div class="bg-light p-3">
    @if (!isWaitingForProvider)
    {
        <div class="mb-3">
            <a href="/">Continue Shopping</a>
        </div>

        @if (Carts != null)
        {
            if (Carts.Count == 0)
            {
                <div class="text-center">
                    <h5>You don't have anything in your cart</h5>
                    <a class="btn btn-primary" href="/">Continue Shopping</a>
                </div>
            }

            foreach (OrderParams cart in Carts)
            {
                <SellerCart Cart="cart" OnRemoveFromCart="(item) => RemoveFromCartAsync(cart, item)" />
            }
        }
    }
    else
    {
        <div class="d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h5 class="ms-1">Waiting for payment provider...</h5>
        </div>
    }
</div>

<TermsModal @ref="TermsModal" />