@if (!useCookies)
{
    <div class="mt-auto fixed-bottom">
        <div class="d-flex align-items-center justify-content-center">
            <div class="p-3 flex-fill bg-light">
                <div class="text-center">
                    We use cookies. By continuing to use our website you accept our usage of cookies.
                </div>                
            </div>
            <div class="bg-primary text-white text-center p-3 ms-auto" @onclick="Agree" style="cursor: pointer; width: 150px;">
                Ok
            </div>
        </div>
    </div>
}

@code {
    [Inject]
    public StorageService StorageService { get; set; }

    private bool useCookies = true;

    protected override async Task OnInitializedAsync()
    {
        useCookies = await StorageService.GetLocalItemAsync<bool>("UseCookies");
    }

    private async Task Agree()
    {
        useCookies = true;
        await StorageService.SetLocalItemAsync("UseCookies", useCookies);
    }
}
