<div class="text-center py-3 fw-bold d-block d-md-flex align-items-start justify-content-center">
    <div>
        <img src="img/unturned/zombie.png" style="max-height: 150px;" />
    </div>
    
    <div class="ms-2 fs-5">
        @ChildContent
    </div>    
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } 
}
