<a href="/users/@User.Id" class="text-decoration-none text-dark">
    <div class="d-flex align-items-center">
        <div>
            <Avatar User="User" Width="32" Height="32" />
        </div>
        <div class="fw-bold ms-2">
            @User.Name
        </div>
    </div>
</a>

@code {
    [Parameter]
    public UserInfo User { get; set; }
}
