@if (IsShow)
{
    <div class="p-2 @GetBackgroundClass() rounded-3 mb-2">
        <small class="text-white">
            <i class="@GetIcon()"></i>
            <span class="ms-1">
                @Text
            </span>
        </small>
    </div>
}
